<div class="box">
	<h1 class="header">How to Trust Free Democracy</h1>
	<div class="body">
		<p>You can get involved in legislation during any of the six phases. During any phase you are able to support and discuss legislation directly. Everything is said in Public Domain allowing you to see what your community opines. You can get certified to validate your contributions.</p>
		<h2>Six Legislative Phases</h2>
		<p>Legislation goes through six distinct phases during its lifetime. An idea is proposed -> developed into legislation -> put on the agenda of the legislature -> considered by legislature -> voted upon -> a record of the process is recorded and enforced. This is universally true for all legislatures and all legislation. We have taken the liberty of abstracting this process into an equally accessible online medium.</p>
		<h3>1. Propose an Idea</h3>
		<p>Every individual needs a voice. The Propose an Idea phase allows you to quickly introduce a new concern to the community. As soon as you submit the form, your idea will be visible by the community. You are responsible for the maintenance of all ideas you create. This means you can come back and edit the contents and decide when your draft is in its final legislative configuration</p>
		<p>Proposing ideas is really this simple</p>
		<h3>2. Develop Legislation</h3>
		<p>This phase is designed to connect the community to help "eric the farmer" craft his proposed idea into proper legislation</p>
		<p>Specialization is the fruit of community, and to solve a problem you must be in a different consciousness than it was created, so sharing is crucial. When we propose ideas to the community, they enter a development phase. During this phase, you, the author, are able to edit the content of your legislation. The community is free to provide feedback via the forum. You are free to acknowledge or reject comments. Constituents in your community can publicly support your legislation if they feel compelled. </p>
		<h3>3. Corroborate the Agenda</h3>
		<p>What do we introduce next?</p>
		<p>This stage sets out to solve that problem. First, any final draft in the system is open for consideration. Second, every individual is allowed to select one final draft as their personal top priority. This results in a collective top priority being distributed over the set all possible priorities. It is then safe to assume that the final draft with the most accumulated personal priority is the most important to the community as a conglomerate. Any other assumption would yield a suboptimal result.</p>
		<p>Every individual is able to change their top priority at any time, but they may only prioritize one draft at a time. Exclusively.</p>
		<p>This process can also be enhanced if the legislators give us the courtesy of sponsoring new legislation on a regular interval</p>
		<h3>4. Control Legislature</h3>
		<p>Yes, the word control means: copy of a roll. Or, in other words, Trust Free Democracy is hosting a copy of legislature with accurate day by day updates. I get to watch my legislator work. I can see their considerations, I can voice my opinion, all on record. </p>
		<h3>5. Vote</h3>
		<p>This is your chance to directly recommend to your legislator how you would like to be represented. Approve, Reject, vote Present or Abstain from voting. These are your choices. </p>
		<h3>6. Promulgate</h3>
		<p>It is said that promulgation is the essence of law</p>
		<p>What does that mean? Well, promulgation is: exposed to public view (literally: to milk), and here, we are using it in the sense of "promote or make widely known (an idea or cause)". We keep the public record of what was said. This way, you can look up old legislation, find out if it is still effective, and determine personal truth.</p>
	</div>
</div>
