<div class="box">
	<h1 class="header"><span class="the_truth">_</span>Why Trust Free Democracy</h1>
	<div class="body">
		<object width="425" height="349" style="float:right"><param name="movie" value="http://www.youtube.com/v/-kX0sLFXR0Q&hl=en&fs=1&rel=0&color1=0xe1600f&color2=0xfebd01&border=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/-kX0sLFXR0Q&hl=en&fs=1&rel=0&color1=0xe1600f&color2=0xfebd01&border=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="349"></embed></object>
		<h2>Trust</h2>
		<p>Firm belief in the reliability, truth, ability, or strength of someone or something. Origin: Middle English : from Old Norse traust, from traustr ‘strong’ ; the verb from Old Norse treysta, assimilated to the noun</p>
		<h2>Free</h2>
		<p>Not under the control or in the power of another; able to act or be done as one wishes. Origin: Old English frēo (adjective), frēon (verb), of Germanic origin; related to Dutch vrij and German frei, from an Indo-European root meaning ‘to love,’ shared by friend</p>
		<h2>Democracy</h2>
		<p>A system of government by the whole population or all the eligible members of a state, typically through elected representatives ORIGIN late 16th cent.: from French démocratie, via late Latin from Greek dēmokratia, from dēmos ‘the people’ + -kratia ‘power, rule.’</p>
		
		<object width="500" height="282" style="float:left; margin-right:1em;">	<param name="allowfullscreen" value="true" />	<param name="allowscriptaccess" value="always" />	<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1676448&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ff6600&amp;fullscreen=1" />	<embed src="http://vimeo.com/moogaloop.swf?clip_id=1676448&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ff6600&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="500" height="282"></embed></object>
		<h2>Trust Free Democracy</h2>
		<p>We establish Trust through open code and certified contributions. The issuer of the certificate holds the integrity of the system in their hands. Proper certification can guarantees the validity of the collected consensus.</p>
		<p>We grant personal Freedom by providing an equal portal to democracy. Trust Free Democracy is universally accessible and has no mechanism for discrimination. Every constituent has a right to a voice in legislature, absolutely.</p>
		<p>We provide this website for the community to connect directly to our elected representative Democracy. We enable users to speak up naturally in their community. We empower you to support what can be. We provide every constituent direct access to the interested community in a virtual copy of legislature, and the hope of getting through to your legislator. All contributions are collected into a transparent community consensus, and of course our legislators are still ultimately accountable for representing their population</p>
	</div>
</div>
