<% form_remote_tag :url => { :controller => 'articles', :action => 'add_support', :id => @article.id }, :complete => "FB.XFBML.Host.parseDomTree()" do %>
	<div>
		<%= picture_and_name(current_user) %>
	</div>
	<%= accountable_submit_tag "Support this #{ @article.article_type.name }" %>
	<%#= submit_tag "Support this #{ @article.article_type.name }" %>
<% end %>