<div class="actions">
<% form_remote_tag :url => {:action => :endorse, :id => @article} do %>
	<div id="div_for<%= @article.id %>">
		<%= check_box_tag :checkbox, "1", false, :id => "for" + @article.id.to_s, :style => "width:40px;height:40px;" %> 
		<label for="for<%= @article.id %>">I want to make this <%= @article.article_type.name %> my most important Change for <%= h @article.community.name %></label>
	</div>
	<%= accountable_submit_tag 'Set as Most Important' %>
<% end %>
</div>