<%- if vote %>
<div class="notice">
	<p>Ballot #<%= vote.id %></p>
	<p><%= Article.find(vote.voteable_id).number %></p>
	<p><%= h vote.user.name %></p>
	<p><%= vote_in_english vote %></p>
</div>
<%- else %>
<p class="notice">Abstaining</p>
<%- end %>