<%- if vote %>
<div class="notice">
	<fb:profile-pic uid="loggedinuser"></fb:profile-pic><fb:name uid="loggedinuser" useyou="false"></fb:name>
	<p><%= vote_in_english vote %></p>
	<p>Ballot #<%= vote.id %> cast <%= vote.updated_on.strftime('%D') %> on <%= Article.find(vote.voteable_id).number %></p>
</div>
<%- else %>
<p class="notice">Abstaining</p>
<%- end %>