<div class="box">
	<h3 class="header">Representative Consensus</h3>
	<div class="body larger">
		<p class=""><%= @article.votes_for %> approve</p>
		<p class=""><%= @article.votes_against %> oppose</p>
		<p class=""><%= @article.votes_present %> present</p>
	</div>
</div>