<div class="box">
	<h3 class="header">Community Vote</h3>
	<div class="body">
		<p class="huge"><%= @article.votes_for %> approve</p>
		<p class="huge"><%= @article.votes_against %> oppose</p>
		<p class="huge"><%= @article.votes_present %> present</p>
	</div>
</div>