<p>This <%= h @article.article_type.name %> is your most important Change in <%= h @article.community.name %>.</p>
<p class=""><%= link_to_remote 'Remove your importance', :url => { :controller => 'articles', :action => 'unendorse', :id => @article.id } %>.</p>