<p class="larger">You support this <%= @article.article_type.name %></p>
<p><%= link_to_remote 'withdraw your support', :url => { :controller => 'articles', :action => 'remove_support', :id => @article.id }, :complete => "FB.XFBML.Host.parseDomTree()", :html => { :class => 'discreet' } %></p>