.facebook_hidden {
  display:none;
}

body {
  font-size:   13px;
  line-height: 18px;
}

#navigation {
  top: auto;
  bottom: 0;
  background: #FF5A00;
}
#navigation .faint a {
  color: #fff;
}
.district {
  background: none;
}
#content {
  margin-top: 1em;
  margin-bottom: 5em;
}
#footer {
  display: none;
}

#mantra {
  font-size: 1.74em;
}

.pretty_form label {
}
label {
  font-size: normal;
}
input {
  font-size: normal;
}

p, .p_padding {
  padding: 3px;
}

#site_navigation {
  margin-top: 3px;
}