<div id="admin_links" class="top_links">
<ul class="">
	<li>
		<%= link_to 'new notification', :controller => 'admin/notifications' %>
	</li>
	<li>
		<%= link_to 'list users', :controller => 'users', :action => 'list' %>
	</li>
	<li>
		<%= link_to 'manage districts', :controller => 'admin/districts' %>
	</li>
	<li>
		<%= link_to 'manage badges', :controller => 'badges/admin' %>
	</li>
</ul>
</div>