<p>
	Descriptions<br />
	<%= text_field_tag 'tag1', nil, :size => "10" %>
	<%= text_field_tag 'tag2', nil, :size => "10" %>
	<%= text_field_tag 'tag3', nil, :size => "10" %>
	<%= text_field_tag 'tag4', nil, :size => "10" %>
</p>