<form action="http://www.house.gov/htbin/zipfind" method="post">
	<fieldset>
		<label for="Find_Rep_by_Zipcode"><strong>Find Your Representative</strong><br/>
			by ZIP</label>
			<input tabindex="1" id="Find_Rep_by_Zipcode" maxlength="5" size="5" name="ZIP"/>
			<label for="plusFour">(+4)</label>
			<input tabindex="2" id="plusFour" maxlength="4" size="4" name="+4"/>
			<input type="submit" tabindex="3" class="formButton" value="Go" alt="(Go) Find Your Representative"/>
		</fieldset>
	</form>