<object width="425" height="355" style="float: left;"><param name="movie" value="http://www.youtube.com/v/afZ6hkXWvEU&rel=1"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/afZ6hkXWvEU&rel=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed></object>
<div class="description">watch this video to find out the purpose of legislation</div>
<div style="clear:both"></div>
<h2>About Legislation</h2>
<p>These articles are currently in front of the legislative body. </p>
<p>As a registered voter, you are allowed to cast your vote on every article, once. For or Against.</p>
<p>Articles will be open from the moment they enter the Vote stage and will remain open until the closing date. The closing date is 24 hours before the representative has to vote officially on the article. When an article is open for voting the tally of votes for or against will not be known, only the total amount of votes cast. Once closed however, a tally of for votes and against votes will be available to everyone.</p>
<p>A representative is then encouraged to cast their official vote in their legislative body with the will of the people.</p>