<%#= select_tag("comite_id", options_from_collection_for_select(current_district.parent.comites, "id", "name", params[:comite_id]), :style => "font-size: medium; background: #fff; width: 12em; border: #000 1px solid; padding: 3px;") %>