<%- if help_enabled? %>
<div class="help rounded container">
	<p>The purpose of this section is to track Motions as they travel through Legislature</p>
	<p>We show you committee reports, official testimony, floor votes and all other official action related to each Motion.</p>
	<p>This section makes it easy to keep track of your legislator and monitor their behavior conducted on your behalf</p>
</div>
<%- end %>