<%- if @district.members.empty? %>
<p class="larger"><%= @district.name %> has no Representatives</p>
<%- else %>
	<%- @district.members.each do |user| %>
		<fb:profile-pic uid="<%= user.facebook_id %>"></fb:profile-pic>
	<%- end %>
<%- end %>