<%- if @district.members.empty? %>
<p class="larger"><%= @district.name %> has no Representatives</p>
<%- else %>
	<%- @district.members.each do |user| %>
		<%= picture_and_name user %>
	<%- end %>
<%- end %>