<h1>Editing district</h1>

<%= error_messages_for 'district' %>

<!--[form:district]-->
<%- if @parent %>
New Sub-District of <%= @parent.name %>
<%- end %>

<p><label for="district_state">Name</label><br/>
<%= text_field 'district', 'name'  %></p>
<!--[eoform:district]-->



<%= link_to 'Show', :action => 'show', :id => @district %> |
<%= link_to 'Back', :action => 'list' %>
