<%- if help_enabled? %>
<div class="container help rounded">
	<p>This section is designed to act as a transparent record of how our laws came into existence</p>
	<p class="">It has been said that Promulgation is the Essence of Law</p>
</div>
<%- end %>