<%- if logged_in? && current_user.has_privilege?('clerk', @community) %>
<h3><%= link_to "Insert a Law", new_article_path %></h3>
<%- end %>

<%= grid(@laws_grid, :table_html_attrs => { :id => "target_table", :class => "wice_grid ruler" } ) do |g|
	g.row_attributes do |article|
		{:id => "#{@laws_grid.name}_row_#{article.id}",
		:onclick => "document.location = '/a/#{article.id}'"}
	end
	g.column :column_name => '&nbsp;*', :attribute_name => 'support_count', :no_filter => true do |article|
		@width = 30; @article = article; render( :partial => 'articles/support_image')
	end
	g.column :column_name => 'Number', :attribute_name => 'number', :class => "larger" do |article|
		h(article.number)
	end
	g.column :column_name => 'Status', :attribute_name => 'stage', :no_filter => true do |article|
		article.stage_name
	end
	g.column :column_name => 'Title', :attribute_name => 'title' do |article|
		truncate(article.title, 200)
	end
	# g.column :column_name => 'Vote', :attribute_name => 'vote', :no_filter => true do |article|
	# 	article.vote(current_user)
	# end
	# g.column :column_name => 'Support', :attribute_name => 'support_count', :no_filter => true do |article|
	# 	article.support_count
	# end
end -%>	
	<%- form_tag('', :method => :get, :id => 'grid_params') do %>
		<%= dump_filter_parameters_as_hidden_fields(@laws_grid) %>
	<%- end %>
	<div id="bottom_of_list">Loading more Laws <%= image_tag 'indicator.gif', :alt => 'working...' %></div>
	<script>checkScroll();</script>