<div class="box">
	<h2 class="header">Select a District to Join</h2>
	<div class="body">
		<ul class="orangelist">
		<%- @community.districts.each do |district| %>
			<li><%= link_to h(district.name + ": " + district.description), certify_district_path(district) %></li>
		<%- end %>
		</ul>
	</div>
</div>